.Users {
    display: flex;
    width: 30%;
    height: 650px;
    justify-content: space-between;
    flex-direction: column-reverse;
    border-right: 1px solid black;
    align-items: center;
    align-content: flex-start;
}

.UsersOnline {
    width: 100%;
    height: 56px;
    padding: 20px;
    text-align: center;
    background: #ccc;
    margin-bottom: 2px;
    border-top: 1px solid black;
}

.UsersList {
    width: 100%;
    margin: 0;
    padding: 0;
}

.UserItem, .UserItemClient {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin: 0 0 0 20px;
}

.UserItemClient {
    color: green;
}